div.content-body {
    width: 100%;

    margin: 8rem auto;
}

div.content-container {
    background-color: #ffffff;
    border: 1px solid #c5cbda;
    border-radius: 6px;
    width: 90%;
}

div.table-container {
    background-color: #f2f3f7;
    border: 1px solid #c5cbda;
    border-radius: 6px;
    margin: 14px 0;
}

.table-container p {
    width: 100%;
    margin: 15px 0;
    text-align: center;
    padding: 0;
    color: #c5cbda;
    font-size: 14px;
}

/* Responsive */
@media screen and (max-width: 580px) {
    .content-body {
        margin: 8rem auto 14rem auto !important;
    }
}
