div.content-container {
    background-color: #FFFFFF;
    margin: 2rem auto;
    border: 1px solid #C5CBDA;
    border-radius: 6px;
    width: 90%;
}

div.table-container {
    background-color: #F2F3F7;
    border: 1px solid #c5cbda;  
    border-radius: 6px;
    margin: 14px 0;
}

.table-container p {
    width: 100%;
    margin: 15px 0;
    text-align: center;
    padding: 0;
    color: #C5CBDA;
    font-size: 14px;
}
